{% extends "base.html" %}
{% block title %}
    Tambah Izin Karyawan (Jam)
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-success">
        <a class="ms-3" style="text-decoration: none;color: white;font-weight: bold;" data-bs-toggle="offcanvas"
            href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            MENU
        </a>
    </nav>
{% endblock %}

{% block content %}

        <div class="card mt-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9 pt-2">
                        <h4 class="mt-2" style="line-height: 0.4;"><b>Tambah Izin Karyawan (PERJAM)</b></h4>
                        <h6 style="color: rgb(73, 73, 73);">&nbsp Silahkan lengkapi data berikut untuk menambah Izin Jam karyawan</h6>
                    </div>
                </div>
            </div>
            <form action="/tambah-izin-jam" method="post" class="ms-3 mb-3">
                <div class="row pe-3">
                    <div class="col-md-4">
                        <div>
                            <h6><b>Karyawan</b></h6>
                            <input type="text" list="karyawanList" name="no_karyawan" class="form-control" placeholder="Silahkan Pilih Karyawan yang Izin">
                            <datalist id="karyawanList">
                                {% for d in data %}
                                    <option value="{{ d[1] }}-{{ d[2] }}">{{ d[1] }} - {{ d[2] }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h6><b>Tanggal</b></h6>
                            <input type="date" name="tanggal" class="form-control" id="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <h6><b>Jenis Izin</b></h6>
                            <select name="izin" class="form-control" id="">
                                <option hidden selected value="">Silahkan Pilih Jenis Izin Karyawan </option>
                                <option value="T">TERLAMBAT</option>
                                <option value="PA">PULANG AWAL</option>
                                <option value="MP">MENINGGALKAN PEKERJAAN</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <h6><b>Jam Mulai Izin</b></h6>
                        <input type="time" name="jam_mulai" class="form-control" id="" >
                    </div>
                    <div class="col-md-4 mt-2">
                        <h6><b>Jam Akhir Izin</b></h6>
                        <input type="time" name="jam_akhir" class="form-control" id="">
                    </div>
                    <div class="col-md-4 mt-2">
                        <h6><b>Total Izin Jam</b></h6>
                        <input type="number" name="total_jam" step="any" class="form-control" id="">
                    </div>
                    <div class="col-md-12">
                        <div>
                            <h6><b>Keterangan</b></h6>
                            <textarea rows="5" name="keterangan" id="" class="form-control" placeholder="Beri Keterangan untuk Izin Karyawan yang ditambahkan"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="d-grid gap-2">
                            <button class="btn btn-success" type="submit">Simpan</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}
