{% extends "base.html" %}
{% block title %}
Daftar Izin Karyawan (Jam)
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-success">
        <a class="ms-3" style="text-decoration: none;color: white;font-weight: bold;" data-bs-toggle="offcanvas"
            href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            MENU
        </a>
        <div class="container">
            <div class="ms-auto me-0 mt-2">
                <form action="cari-izin-jam" method="get">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" name="key" placeholder="Cari Izin Perjam" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-outline-light" type="submit" id="button-addon1"><b>Cari</b></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

        <div class="row">
                <div class="col-md-12">
                    <div class="card mt-2">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9 pt-2">
                                    <p><b>Daftar Izin Karyawan (PERJAM)</b></p>
                                </div>
                                <div class="col-md-3 text-end">
                                    <a href="/tambah-izin-jam" class="btn btn-success btn-md">Tambah Izin Baru (Perjam)</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><center>Nama</center></th>
                                            <th><center>Tanggal</center></th>
                                            <th><center>JAM IZIN <br> (MULAI)</center></th>
                                            <th><center>JAM IZIN <br> (BERAKHIR)</center></th>
                                            <th><center>Status</center></th>
                                            <th><center>Keterangan</center></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if data == [] %}
                                            <tr>
                                                <td colspan="8">
                                                    <center><B>TIDAK ADA DATA IZIN PERJAM</B></center>
                                                </td>
                                            </tr>
                                        {% else %}
                                            {% for d in data %}
                                                <tr>
                                                    <td>{{ loop.index }}</td>
                                                    <td>{{ d[7] }}</td>
                                                    <td><center>{{ d[0] }}</center></td>
                                                    <td><center>{{ d[1] }}</center></td>
                                                    <td><center>{{ d[2] }}</center></td>
                                                    <td>
                                                        <center>
                                                            {% if d[3] == "PA" %}
                                                                PULANG AWAL
                                                            {% elif d[3] == "T" %}
                                                                TERLAMBAT
                                                            {% elif d[3] == "MP" %}
                                                                MENINGGALKAN PEKERJAAN
                                                            {% endif %}
                                                        </center>
                                                    </td>
                                                    <td><center>{{ d[4] }}</center></td>
                                                        <td>
                                                            <a href="/update-izin-jam/{{ d[5] }}" class="btn btn-md btn-warning">Update</a>
                                                            <a href="/hapus-izin-jam/{{ d[5] }}" class="btn btn-md btn-danger">Hapus</a>
                                                        </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
{% endblock %}