{% extends 'base.html' %}

{% block title %}
    Daftar Hari Libur
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-success">
        <a class="ms-3" style="text-decoration: none;color: white;font-weight: bold;" data-bs-toggle="offcanvas"
            href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            MENU
        </a>
        <div class="container">
            <div class="ms-auto me-0 mt-2">
                <form action="/cari-libur" method="get">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" name="key" placeholder="Cari Hari Libur" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-outline-light" type="submit" id="button-addon1"><b>Cari</b></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-md-12">
                    <div class="card mt-2">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9 pt-2">
                                    <p><b>Daftar Hari Libur Karyawan</b></p>
                                </div>
                                <div class="col-md-3 text-end">
                                    <a href="/tambah-libur" class="btn btn-md btn-success">Tambah Hari Libur</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tanggal Libur</th>
                                            <th>Keterangan</th>
                                            <th style="width: 20vw;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if data == [] %}
                                            <tr>
                                                <td colspan="4">
                                                    <center>
                                                        <br>
                                                        <b>Data Hari Libur Tidak Ditemukan</b>
                                                        <br>
                                                        <h4><b>Silahkan tambahkan tanggal libur !</b></h4>
                                                    </center>
                                                </td>
                                            </tr>
                                        {% else %}
                                            {% for d in data %}
                                                <tr>
                                                    <td>{{ loop.index }}</td>
                                                    <td> {{ d[1] }} </td>
                                                    <td> {{ d[2] }} </td>
                                                    <td>
                                                        <a href="/update-libur/{{ d[3] }}" class="btn btn-md btn-warning">Update</a>
                                                        <a href="/hapus-libur/{{ d[3] }}" class="btn btn-md btn-danger">Hapus</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
    </div>
{% endblock %}