{% extends 'base.html' %}

{% block title %}
    Daftar Izin Karyawan
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-light bg-success" style="position: sticky;">
        <a class="ms-3" style="text-decoration: none;color: white;font-weight: bold;" data-bs-toggle="offcanvas"
            href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            MENU
        </a>
        <div class="container">
            <div class="ms-auto me-0 mt-2">
                <form action="cari-izin" method="get">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" name="key" placeholder="Cari Izin" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-outline-light" type="submit" id="button-addon1"><b>Cari</b></button>
                    </div>
                </form>
            </div>
        </div>

    </nav>
{% endblock %}

{% block content %}

        <div class="row">
                <div class="col-md-12">
                    <div class="card mt-2">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9 pt-2">
                                    <p><b>Daftar Izin Karyawan</b></p>
                                </div>
                                <div class="col-md-3 text-end">
                                    <a href="/tambah-izin" class="btn btn-success btn-md">Tambah Izin Baru</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nama</th>
                                            <th>Tanggal</th>
                                            <th>Status</th>
                                            <th>Keterangan</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for d in data %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ d[0] }}</td>
                                                <td>{{ d[1] }}</td>
                                                <td>{{ d[2] }}</td>
                                                <td>{{ d[3] }}</td>
                                                <td>
                                                    <a href="/update-izin/{{ d[5] }}" class="btn btn-md btn-warning">Update</a>
                                                    <a href="/hapus-izin/{{ d[5] }}" class="btn btn-md btn-danger">Hapus</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
{% endblock %}
