{% extends 'base.html' %}

{% block title %}Daftar Karyawan{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-success">
        <a class="ms-3" style="text-decoration: none;color: white;font-weight: bold;" data-bs-toggle="offcanvas"
            href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            MENU
        </a>
        <div class="container">
            <div class="ms-auto me-0 mt-2">
                <form action="cari-karyawan" method="get">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" name="key" placeholder="Cari Data Karyawan" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-outline-light" type="submit" id="button-addon1"><b>Cari</b></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %} 
        <div class="row">
                <div class="col-md-12">
                    <div class="card mt-2">
                        <div class="ms-3 mt-2">
                            <p><b>Daftar Karyawan </b></p>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="table-responsive">                                
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col"><center>NIK</center></th>
                                        <th scope="col" style="width: 500px;"><center>Nama</center></th>
                                        <th scope="col"><center>Jam Kerja</center></th>
                                        <th style="width: 250px;"></th>
                                    </tr>
                                    {% for item in data %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ item[1] }}</td>
                                        <td>{{ item[2] }}</td>
                                        {% if item[3] == "1" %}
                                            <td>
                                                <center>Jam Kerja Normal</center>
                                            </td>
                                            <!-- <td>
                                                <a href="/ubah-shift/{{ item[1] }}" class="btn btn-md btn-success"><b>Ubah ke Shift</b></a>
                                            </td> -->
                                        {% elif item[3] == "2" %}
                                            <td>
                                                <center>Jam Kerja Shift</center>
                                            </td>
                                            <!-- <td>
                                                <a href="/ubah-shift/{{ item[1] }}" class="btn btn-md btn-success"><b>Ubah Jam Normal</b></a>
                                                <a href="/jadwal-shift/{{ item[1] }}" class="btn btn-md btn-success"><b>Atur Jadwal Shift</b></a>
                                            </td> -->
                                        {% endif %}
                                        
                                        <td>
                                            <a href="/ubah-gaji/{{ item[1] }}" class="btn btn-md btn-primary"><b>Ubah Data Pendapatan</b></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
{% endblock %}