{% extends 'base.html' %}

{% block title %}
    Daftar Lembur Karyawan
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-success">
        <a class="ms-3" style="text-decoration: none;color: white;font-weight: bold;" data-bs-toggle="offcanvas"
            href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            MENU
        </a>
        <div class="container">
            <div class="ms-auto me-0 mt-2">
                <form action="/cari-lembur" method="get">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" name="key" placeholder="Cari Data Lembur" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-outline-light" type="submit" id="button-addon1"><b>Cari</b></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-md-12">
                <div class="card mt-2">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-9 pt-2">
                                <p><b>Daftar Lembur Karyawan</b></p>
                            </div>
                            <div class="col-md-3 text-end">
                                <button type="button" class="btn btn-md btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Tambah Data Lembur</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>NIK</th>
                                        <th>Nama</th>
                                        <th>Tanggal</th>
                                        <th>Total Lembur</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if data == [] %}
                                        <tr>
                                            <td colspan="5">
                                                <center>
                                                    <br>
                                                    <b>Data Lembur Tidak Ditemukan</b>
                                                    <br>
                                                </center>
                                            </td>
                                        </tr>
                                    {% else %}
                                        {% for d in data %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td> {{ d[3] }} </td>
                                                <td> {{ d[5] }} </td>
                                                <td> {{ d[1] }} </td>
                                                <td> {{ d[2] }} </td>
                                                <td>
                                                    <a href="/ubah-lembur/{{ d[4] }}" class="btn btn-md btn-warning">Update</a>
                                                    <a href="/hapus-lembur/{{ d[4] }}" class="btn btn-md btn-danger">Hapus</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Tambah Data Lembur Karyawan</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/tambah-lembur" method="get">
                    <div class="modal-body">
                        <p>Silahkan Pilih Tanggal dan Karyawan yang lembur.</p>
                        <br>
                        <p>Karyawan</p>
                        <input type="text" list="karyawanList" name="no_karyawan" required class="form-control" placeholder="Silahkan Pilih Karyawan yang Izin">
                        <datalist id="karyawanList">
                            {% for d in karyawan %}
                                <option value="{{ d[1] }}-{{ d[2] }}">{{ d[1] }} - {{ d[2] }}</option>
                            {% endfor %}
                        </datalist>
                        <p class="mt-3">Tanggal Lembur</p>
                        <input type="date" name="tanggal" required class="form-control" id="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
