{% extends 'base.html' %}

{% block title %}
Gaji Karyawan
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-success">
        <a class="ms-3" style="text-decoration: none;color: white;font-weight: bold;" data-bs-toggle="offcanvas"
            href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            MENU
        </a>
        <div class="container">
            <div class="ms-auto me-0 mt-2">
                <form action="cari-gaji" method="get">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" name="key" placeholder="Cari Data Gaji" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-outline-light" type="submit" id="button-addon1"><b>Cari</b></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-md-12">
                <div class="card mt-2">
                    <div class="ms-3 mt-2">
                        <p><b>Daftar Gaji Karyawan </b></p>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="table-responsive ">                                
                        <table class="table table-hover table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="col" style="vertical-align: middle;"><center>#</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>NIK</center></th>
                                    <th scope="col" style="min-width: 250px; vertical-align: middle;"><center>Nama</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>Jml Hari Kerja</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>IZIN</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>CUTI</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>SAKIT</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>IZIN KHUSUS</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>ALPHA</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>IZIN PERJAM</center></th>
                                    <th scope="col" style="min-width: 100px; vertical-align: middle;"><center>UPAH POKOK</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>TUNJANGAN JABATAN</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>TUNJANGAN KEAHLIAN</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>TUNJANGAN LAIN</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>UPAH TOTAL</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>LEMBUR</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>INSENTIF</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>GAJI KOTOR</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>POT. BPJS TK</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>POT. BPJS KES</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>POT. IZIN</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>POT. IZIN PERJAM</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>POT. PINJAMAN</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>POT. PAJAK</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>TAMBAHAN KOMPLAIN</center></th>
                                    <th scope="col" style="vertical-align: middle;"><center>GAJI BERSIH</center></th>
                                </tr>
                                {% if data %}

                                    {% for item in data %}
                                        <tr>
                                            <td><center>{{ loop.index }}</center></td>
                                            <td>{{ item[1] }}</td>
                                            <td>{{ item[2] }}</td>
                                            <td><center>{{ item[3] }}</center></td>
                                            <td><center>{{ item[5] }}</center></td>
                                            <td><center>{{ item[6] }}</center></td>
                                            <td><center>{{ item[7] }}</center></td>
                                            <td><center>{{ item[8] }}</center></td>
                                            <td><center>{{ item[9] }}</center></td>
                                            <td><center>{{ item[4] }}</center></td>
                                            <td style="min-width: 200px;">{{ item[10] }}</td>
                                            <td style="min-width: 200px;">{{ item[11] }}</td>
                                            <td style="min-width: 200px;">{{ item[12] }}</td>
                                            <td style="min-width: 200px;">{{ item[13] }}</td>
                                            <td style="min-width: 200px;">{{ item[14] }}</td>
                                            <td style="min-width: 200px;">{{ item[15] }}</td>
                                            <td style="min-width: 200px;">{{ item[16] }}</td>
                                            <td style="min-width: 200px;">{{ item[17] }}</td>
                                            <td style="min-width: 200px;">{{ item[18] }}</td>
                                            <td style="min-width: 200px;">{{ item[19] }}</td>
                                            <td style="min-width: 200px;">{{ item[20] }}</td>
                                            <td style="min-width: 200px;">{{ item[21] }}</td>
                                            <td style="min-width: 200px;">{{ item[22] }}</td>
                                            <td style="min-width: 200px;">{{ item[23] }}</td>
                                            <td style="min-width: 200px;">{{ item[24] }}</td>
                                            <td style="min-width: 200px;">{{ item[25] }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
