<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
        .nav-link:hover{
            background-color:#d3d3d3 !important;
            color:black !important;
        }
        .aktif{
            background-color: rgb(99, 193, 252);
            color: white !important;
            font-weight: bold;
        }
        .nav-link{
            color: black;
            font-weight: bold;
        }
    </style>
</head>

<body>

    {% block navbar %}{% endblock %}
    
    <div class="container-fluid">
        {% block content %}{% endblock %}
        
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header" style="border-bottom: 2px solid lightgray;">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">PT UNGARAN WANA KARYA</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link {{ 'aktif' if request.path == '/' }}" aria-current="page">
                            HOME
                        </a>
                    </li>
                    <li class="mb-1 nav-item">
                        <a href="#" class="nav-link  {{ 'collapsed' if request.path == '/absensi' }}" aria-current="page" data-bs-toggle="collapse"
                            data-bs-target="#dashboard-collapse" style="color: black;" aria-expanded=" {{ 'true' if request.path == '/absensi'else 'false' }}">
                            ABSENSI
                        </a>
                        <div class="collapse  {{ 'show' if request.path == '/absensi' }} {{ 'show' if request.path == '/izin' }} {{ 'show' if request.path == '/izin-jam' }} {{ 'show' if request.path == '/lembur' }} {{ 'show' if request.path == '/libur' }} ms-2" id="dashboard-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/absensi" class="nav-link  {{ 'aktif' if request.path == '/absensi' }} link-dark">Rekap Absensi</a></li>
                                <li><a href="/izin" class="nav-link link-dark {{ 'aktif' if request.path == '/izin' }}">Izin</a></li>
                                <li><a href="/izin-jam" class="nav-link link-dark {{ 'aktif' if request.path == '/izin-jam' }}">Izin (Jam)</a></li>
                                <li><a href="/lembur" class="nav-link link-dark {{ 'aktif' if request.path == '/lembur' }}">Lembur</a></li>
                                <li><a href="/libur" class="nav-link link-dark {{ 'aktif' if request.path == '/libur' }}">Hari Libur</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1 nav-item">
                        <a href="#" class="nav-link " aria-current="page" data-bs-toggle="collapse"
                            data-bs-target="#karyawan-collapse" style="color: black;" aria-expanded="false">
                            KARYAWAN
                        </a>
                        <div class="collapse  {{ 'show' if request.path == '/gaji-karyawan' }} {{ 'show' if request.path == '/insentif' }} {{ 'show' if request.path == '/pinjaman-pajak' }} {{ 'show' if request.path == '/komplain' }} {{ 'show' if request.path == '/daftar-karyawan' }} ms-2" id="karyawan-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/gaji-karyawan" class="nav-link  {{ 'aktif' if request.path == '/gaji-karyawan' }} link-dark">Gaji Karyawan</a></li>
                                <li><a href="/daftar-karyawan" class="nav-link link-dark {{ 'aktif' if request.path == '/daftar-karyawan' }}">Karyawan</a></li>
                                <li><a href="/insentif" class="nav-link link-dark {{ 'aktif' if request.path == '/insentif' }}">Insentif</a></li>
                                <li><a href="/pinjaman-pajak" class="nav-link link-dark {{ 'aktif' if request.path == '/pinjaman-pajak' }}">Potongan Pinjaman dan Pajak</a></li>
                                <li><a href="/komplain" class="nav-link link-dark {{ 'aktif' if request.path == '/komplain' }}">Komplain</a></li>
                            </ul>
                        </div>
                    </li>
                    <hr>
                    <li class="mb-1 nav-item">
                        <a href="#" class="nav-link  {{ 'collapsed' if request.path == '/tambah-absen' }}" aria-current="page" data-bs-toggle="collapse"
                            data-bs-target="#add-data-collapse" style="color: black;" aria-expanded=" {{ 'true' if request.path == '/tambah-absen' else 'false' }}">
                            TAMBAH DATA (MASSAL)
                        </a>
                        <div class="collapse  {{ 'show' if request.path == '/tambah-absen' }} ms-2" id="add-data-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/tambah-absen" class="nav-link  {{ 'aktif' if request.path == '/tambah-absen' }} link-dark rounded">TAMBAH ABSENSI</a></li>
                                <li><a href="#" class="nav-link link-dark rounded">Weekly</a></li>
                                <li><a href="#" class="nav-link link-dark rounded">Monthly</a></li>
                                <li><a href="#" class="nav-link link-dark rounded">Annually</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7588abbba4.js" crossorigin="anonymous"></script>
</body>

</html>