{% extends "base.html" %}

{% block title %}
    Rekap Absensi
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-success">
        <a class="ms-3" style="text-decoration: none;color: white;font-weight: bold;" data-bs-toggle="offcanvas"
            href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            MENU
        </a>
        <div class="container">
            <div class="ms-auto me-0 mt-2">
                <form action="cari-absen" method="get">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" name="key" placeholder="Cari Absen" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-outline-light" type="submit" id="button-addon1"><b>Cari</b></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}


{% block content %}
        <div class="row">
                <div class="col-md-12">
                    <div class="card mt-2">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td style="vertical-align: middle;">#</td>
                                            <td style="vertical-align: middle; min-width: 300px;">Nama</td>
                                            <td style="vertical-align: middle; min-width: 150px;">Nomor Karyawan</td>
                                            {% for h in header %}
                                                <td>{{ h }}</td>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if data %}
                                            {% for d in data %}
                                                <tr>
                                                    {% for sd in d %}
                                                        {% if sd == 'L' %}
                                                            <td style="background-color: red;color: white;vertical-align: middle;text-align: center;">L</td>
                                                        {% elif sd == '1' %}
                                                            <td style="background-color: white"></td>
                                                        {% elif sd == '0' %}
                                                            <td style="background-color: BLACK;color: white;vertical-align: middle;text-align: center;"></td>
                                                        {% elif sd == 'I' %}
                                                            <td style="background-color:  green;color: black;vertical-align: middle;text-align: center;"><b>I</b></td>
                                                        {% elif sd == 'C' %}
                                                            <td style="background-color:  yellow;color: black;vertical-align: middle;text-align: center;"><b>C</b></td>
                                                        {% elif sd == 'S' %}
                                                            <td style="background-color:  blue;color: black;vertical-align: middle;text-align: center;"><b>S</b></td>
                                                        {% elif sd == 'IK' %}
                                                            <td style="background-color:  purple;color: WHITE;vertical-align: middle;text-align: center;"><b>IK</b></td>
                                                        {% else %}
                                                            <td>
                                                                {{ sd }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="32">
                                                    <center>Data Tidak Ditemukan</center>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

{% endblock %}





