{% extends 'base.html' %}

{% block title %}
    Update Pinjaman dan Pajak
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-success">
        <a class="ms-3" style="text-decoration: none;color: white;font-weight: bold;" data-bs-toggle="offcanvas"
            href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            MENU
        </a>
    </nav>
{% endblock %}

{% block content %}
    <div class="card mt-3">
        <br>
        <div class="ms-3 mt-1">
            <p><b>Update Data Pinjaman dan Pajak</b></p>
        </div>
        <hr>
        <form action="/update-pinjaman-pajak/{{ data[5] }}" method="post" class="ms-3 mb-3">
            <div class="row pe-3">
                <div class="col-md-8">
                    <div>
                        <h6><b>Karyawan</b></h6>
                        <input type="text" list="karyawanList" name="no_karyawan" class="form-control" value="{{ data[7] }}" placeholder="Silahkan Pilih Karyawan yang Izin">
                        <datalist id="karyawanList">
                            {% for d in karyawan %}
                                <option value="{{d[1]}}-{{d[2]}}">{{d[1]}} - {{d[2]}}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h6><b>Jenis Potongan</b></h6>
                        <select name="jenis_pot" id="jenis_potongan" class="form-control">
                            <option value="{{ data[1] }}" selected hidden>(Terpilih: {{ "Pinjaman" if data[1] == "pnj" else "Pajak" }}) - Silahkan Pilih Jenis Potongan yang akan dirubah </option>
                            <option value="pnj">Pinjaman</option>
                            <option value="pjk">Pajak</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div>
                        <h6><b>Jumlah Potongan</b></h6>
                        <input type="number" required value="{{ data[2] }}" name="jumlah" class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-4 mt-4" id="conditionalField">
                    <div>
                        <h6><b>Batas Berlaku</b></h6>
                        <input type="date" name="berlaku" value="{{ data[3] }}" class="form-control" id="batas_berlaku">
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" id="save-button" type="submit">Simpan</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}