{% extends 'base.html' %}

{% block title %}
    Daftar Pinjaman dan Pajak
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-success">
        <a class="ms-3" style="text-decoration: none;color: white;font-weight: bold;" data-bs-toggle="offcanvas"
            href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            MENU
        </a>
        <div class="container">
            <div class="ms-auto me-0 mt-2">
                <form action="cari-pinjaman-pajak" method="get">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" name="key" placeholder="Cari Komplain" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-outline-light" type="submit" id="button-addon1"><b>Cari</b></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-md-12">
                <div class="card mt-2">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-9 pt-2">
                        <p><b>Daftar Potongan Pinjaman dan Pajak</b></p>
                            </div>
                            <div class="col-md-3 text-end">
                                <a href="/pinjaman-pajak/tambah-baru" class="btn btn-success btn-md">Tambah Pinjaman dan Pajak Karyawan</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nama</th>
                                        <th>Jenis Potongan</th>
                                        <th>Total</th>
                                        <th>Batas Berlaku</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if data %}
                                        {% for d in data %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ d[6] }}</td>
                                            <td>
                                                {% if d[1] == "pnj" %}
                                                    Pinjaman
                                                {% elif d[1] == "pjk" %}
                                                    Pajak
                                                {% endif %}
                                            </td>
                                            <td>{{ d[2] }}</td>
                                            <td>
                                                {% if d[3] %}
                                                    {{ d[3] }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="/update-pinjaman-pajak/{{ d[5] }}" class="btn btn-md btn-warning">Update</a>
                                                <a href="/hapus-pinjaman-pajak/{{ d[5] }}" class="btn btn-md btn-danger">Hapus</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="6"><center>Data Tidak Ditemukan</center></td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
