{% extends 'base.html' %}
{% block title %}
    Ubah Komplain Karyawan
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-success" style="position: sticky;">
        <a class="ms-3" style="text-decoration: none;color: white;font-weight: bold;" data-bs-toggle="offcanvas"
            href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            MENU
        </a>
    </nav>
{% endblock %}

{% block content %}   
    <div class="card mt-3">
        <br>
        <div class="ms-3 mt-1">
            <p><b>Update Data Komplain dari Karyawan</b></p>
        </div>
        <hr>
        <form action="/update-komplain/{{ komplain[4] }}" method="post" class="ms-3 mb-3">
            <div class="row pe-3">
                <div class="col-md-3">
                    <div>
                        <h6><b>Karyawan</b></h6>
                        <input type="text" list="karyawanList" value="{{komplain[5]+'-'+komplain[-1]}}" name="no_karyawan" class="form-control" placeholder="Silahkan Pilih Karyawan yang Izin">
                        <datalist id="karyawanList">
                            {% for d in data %}
                                <option value="{{ d[1] }}-{{ d[2] }}">{{ d[1] }} - {{ d[2] }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <h6><b>Jenis Komplain</b></h6>
                        <select name="jenis" class="form-control">
                            <option {{ 'selected' if komplain[1] == 'tb' }} value="tb">(+)  Penambahan Gaji</option>
                            <option {{ 'selected' if komplain[1] == 'kr' }} value="kr">(-)  Pengurangan Gaji</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" id="conditionalField">
                    <div>
                        <h6><b>Batas Berlaku</b></h6>
                        <input type="date" value="{{ komplain[6] }}" name="berlaku" class="form-control" id="batas_berlaku">
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <h6><b>Jumlah Komplain</b></h6>
                        <input type="number" value="{{ komplain[2] }}" name="jumlah" placeholder="Nominal Komplain yang ditambahkan" required class="form-control" id="">
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <h6><b>Keterangan (Opsional)</b></h6>
                        <textarea name="keterangan" class="form-control" id="" placeholder="Tambahkan keterangan komplain yang ditambahkan !" rows="5">{{ komplain[3]}}</textarea>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" id="save-button" type="submit">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
